# dependencies
/node_modules
node_modules
*node_modules/*

dump.rdb

# logs
/log/*
log/*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem
